<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'measure center mv4'}) do |f| %>
  <fieldset id="sign_in" class="ba b--transparent ph0 mh0">
    <legend class="f3 fw6 ph0 mh0">Sign In</legend>
    
    <div class="mt3">
      <%= f.label :email, class: "db fw6 lh-copy f5" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "pa2 input-reset ba bg-transparent w-100" %>
    </div>

    <div class="mv3">
      <%= f.label :password, class: "db fw6 lh-copy f5" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "b pa2 input-reset ba bg-transparent w-100" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mv3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "fw6 lh-copy f5" %>
      </div>
    <% end %>

  </fieldset>

  <div class="submit-field">
    <%= f.submit "Sign In", class: "b ph3 pv2 input-reset ba b--black-70 black-70 bg-transparent grow pointer f5 dib" %>
  </div>

  <%= render "devise/shared/links" %>

<% end %>

